<style>@font-face {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sen/v9/6xK0dSxYI9_dkN18-vZKK2EISCq5H44.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sen/v9/6xK0dSxYI9_dkN18-vZKK2EISBi5H44.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sen/v9/6xK0dSxYI9_dkN18-vZKK2EISM2-H44.ttf) format('truetype');
  }
  
  *,:before,:after{box-sizing:border-box;border-width:0;border-style:solid;border-color:#e5e7eb}:before,:after{--tw-content: ""}html,:host{line-height:1.5;-webkit-text-size-adjust:100%;-moz-tab-size:4;tab-size:4;font-family:Sen,sans-serif;font-feature-settings:normal;font-variation-settings:normal;-webkit-tap-highlight-color:transparent}body{margin:0;line-height:inherit}hr{height:0;color:inherit;border-top-width:1px}abbr:where([title]){text-decoration:underline dotted}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit}a{color:inherit;text-decoration:inherit}b,strong{font-weight:bolder}code,kbd,samp,pre{font-family:ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;font-feature-settings:normal;font-variation-settings:normal;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}table{text-indent:0;border-color:inherit;border-collapse:collapse}button,input,optgroup,select,textarea{font-family:inherit;font-feature-settings:inherit;font-variation-settings:inherit;font-size:100%;font-weight:inherit;line-height:inherit;color:inherit;margin:0;padding:0}button,select{text-transform:none}button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button;background-color:transparent;background-image:none}:-moz-focusring{outline:auto}:-moz-ui-invalid{box-shadow:none}progress{vertical-align:baseline}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre{margin:0}fieldset{margin:0;padding:0}legend{padding:0}ol,ul,menu{list-style:none;margin:0;padding:0}dialog{padding:0}textarea{resize:vertical}input::placeholder,textarea::placeholder{opacity:1;color:#9ca3af}button,[role=button]{cursor:pointer}:disabled{cursor:default}img,svg,video,canvas,audio,iframe,embed,object{display:block;vertical-align:middle}img,video{max-width:100%;height:auto}[hidden]{display:none}*,:before,:after{--tw-border-spacing-x: 0;--tw-border-spacing-y: 0;--tw-translate-x: 0;--tw-translate-y: 0;--tw-rotate: 0;--tw-skew-x: 0;--tw-skew-y: 0;--tw-scale-x: 1;--tw-scale-y: 1;--tw-pan-x: ;--tw-pan-y: ;--tw-pinch-zoom: ;--tw-scroll-snap-strictness: proximity;--tw-gradient-from-position: ;--tw-gradient-via-position: ;--tw-gradient-to-position: ;--tw-ordinal: ;--tw-slashed-zero: ;--tw-numeric-figure: ;--tw-numeric-spacing: ;--tw-numeric-fraction: ;--tw-ring-inset: ;--tw-ring-offset-width: 0px;--tw-ring-offset-color: #fff;--tw-ring-color: rgb(59 130 246 / .5);--tw-ring-offset-shadow: 0 0 #0000;--tw-ring-shadow: 0 0 #0000;--tw-shadow: 0 0 #0000;--tw-shadow-colored: 0 0 #0000;--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: ;--tw-backdrop-blur: ;--tw-backdrop-brightness: ;--tw-backdrop-contrast: ;--tw-backdrop-grayscale: ;--tw-backdrop-hue-rotate: ;--tw-backdrop-invert: ;--tw-backdrop-opacity: ;--tw-backdrop-saturate: ;--tw-backdrop-sepia: }::backdrop{--tw-border-spacing-x: 0;--tw-border-spacing-y: 0;--tw-translate-x: 0;--tw-translate-y: 0;--tw-rotate: 0;--tw-skew-x: 0;--tw-skew-y: 0;--tw-scale-x: 1;--tw-scale-y: 1;--tw-pan-x: ;--tw-pan-y: ;--tw-pinch-zoom: ;--tw-scroll-snap-strictness: proximity;--tw-gradient-from-position: ;--tw-gradient-via-position: ;--tw-gradient-to-position: ;--tw-ordinal: ;--tw-slashed-zero: ;--tw-numeric-figure: ;--tw-numeric-spacing: ;--tw-numeric-fraction: ;--tw-ring-inset: ;--tw-ring-offset-width: 0px;--tw-ring-offset-color: #fff;--tw-ring-color: rgb(59 130 246 / .5);--tw-ring-offset-shadow: 0 0 #0000;--tw-ring-shadow: 0 0 #0000;--tw-shadow: 0 0 #0000;--tw-shadow-colored: 0 0 #0000;--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: ;--tw-backdrop-blur: ;--tw-backdrop-brightness: ;--tw-backdrop-contrast: ;--tw-backdrop-grayscale: ;--tw-backdrop-hue-rotate: ;--tw-backdrop-invert: ;--tw-backdrop-opacity: ;--tw-backdrop-saturate: ;--tw-backdrop-sepia: }.body{--tw-bg-opacity: 1;background-color:rgb(255 255 255 / var(--tw-bg-opacity));font-family:Sen,sans-serif;font-size:1rem;line-height:1.5rem;font-weight:500;--tw-text-opacity: 1;color:rgb(34 34 34 / var(--tw-text-opacity));-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.input{width:100%;border-width:1px;border-style:solid;--tw-border-opacity: 1;border-color:rgb(208 208 225 / var(--tw-border-opacity));--tw-bg-opacity: 1;background-color:rgb(255 255 255 / var(--tw-bg-opacity));padding:.75rem 1rem;font-size:.875rem;line-height:1.25rem;--tw-text-opacity: 1;color:rgb(34 34 34 / var(--tw-text-opacity))}.input::placeholder{--tw-placeholder-opacity: 1;color:rgb(107 114 128 / var(--tw-placeholder-opacity))}.input{outline:2px solid transparent;outline-offset:2px}.input-description{margin-top:3px;display:block;font-size:.75rem;line-height:1rem;line-height:1;--tw-text-opacity: 1;color:rgb(156 163 175 / var(--tw-text-opacity));-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.input-label{margin-bottom:1px;display:block;font-size:1rem;line-height:1.5rem;font-weight:700;line-height:1;--tw-text-opacity: 1;color:rgb(34 34 34 / var(--tw-text-opacity))}.collapse{visibility:collapse}.static{position:static}.fixed{position:fixed}.absolute{position:absolute}.left-0{left:0}.top-0{top:0}.z-10{z-index:10}.-order-1{order:-1}.mx-auto{margin-left:auto;margin-right:auto}.my-12{margin-top:3rem;margin-bottom:3rem}.my-2{margin-top:.5rem;margin-bottom:.5rem}.my-4{margin-top:1rem;margin-bottom:1rem}.my-5{margin-top:1.25rem;margin-bottom:1.25rem}.-ml-1{margin-left:-.25rem}.-mt-1{margin-top:-.25rem}.mb-1{margin-bottom:.25rem}.mb-10{margin-bottom:2.5rem}.mb-12{margin-bottom:3rem}.mb-14{margin-bottom:3.5rem}.mb-2{margin-bottom:.5rem}.mb-24{margin-bottom:6rem}.mb-4{margin-bottom:1rem}.mb-5{margin-bottom:1.25rem}.mb-7{margin-bottom:1.75rem}.ml-1{margin-left:.25rem}.ml-5{margin-left:1.25rem}.mr-3{margin-right:.75rem}.mt-10{margin-top:2.5rem}.mt-11{margin-top:2.75rem}.mt-12{margin-top:3rem}.mt-14{margin-top:3.5rem}.mt-2{margin-top:.5rem}.mt-28{margin-top:7rem}.mt-3{margin-top:.75rem}.mt-4{margin-top:1rem}.mt-5{margin-top:1.25rem}.mt-6{margin-top:1.5rem}.block{display:block}.flex{display:flex}.inline-flex{display:inline-flex}.table{display:table}.contents{display:contents}.hidden{display:none}.h-12{height:3rem}.h-7{height:1.75rem}.h-auto{height:auto}.h-full{height:100%}.min-h-screen{min-height:100vh}.w-12{width:3rem}.w-7{width:1.75rem}.w-\[450px\]{width:450px}.w-full{width:100%}.min-w-52{min-width:13rem}.min-w-8{min-width:2rem}.max-w-3xl{max-width:48rem}.max-w-96{max-width:24rem}.max-w-\[100px\]{max-width:100px}.max-w-\[200px\]{max-width:200px}.max-w-\[370px\]{max-width:370px}.max-w-\[450px\]{max-width:450px}.max-w-\[500px\]{max-width:500px}.max-w-\[900px\]{max-width:900px}.max-w-sm{max-width:24rem}.flex-1{flex:1 1 0%}.grow{flex-grow:1}.border-collapse{border-collapse:collapse}.cursor-pointer{cursor:pointer}.select-none{user-select:none}.list-inside{list-style-position:inside}.list-disc{list-style-type:disc}.flex-row-reverse{flex-direction:row-reverse}.flex-col{flex-direction:column}.flex-wrap{flex-wrap:wrap}.items-start{align-items:flex-start}.items-end{align-items:flex-end}.items-center{align-items:center}.justify-start{justify-content:flex-start}.justify-end{justify-content:flex-end}.justify-center{justify-content:center}.justify-between{justify-content:space-between}.gap-1{gap:.25rem}.gap-16{gap:4rem}.gap-2{gap:.5rem}.gap-20{gap:5rem}.gap-28{gap:7rem}.gap-3{gap:.75rem}.gap-5{gap:1.25rem}.gap-6{gap:1.5rem}.gap-7{gap:1.75rem}.gap-8{gap:2rem}.overflow-hidden{overflow:hidden}.overflow-y-auto{overflow-y:auto}.break-words{overflow-wrap:break-word}.rounded-full{border-radius:9999px}.rounded-md{border-radius:.375rem}.rounded-sm{border-radius:.125rem}.rounded-xl{border-radius:.75rem}.border{border-width:1px}.border-0{border-width:0px}.border-2{border-width:2px}.border-b{border-bottom-width:1px}.border-b-0{border-bottom-width:0px}.border-solid{border-style:solid}.border-dashed{border-style:dashed}.border-gray-100{--tw-border-opacity: 1;border-color:rgb(243 244 246 / var(--tw-border-opacity))}.border-primaryColor{--tw-border-opacity: 1;border-color:rgb(232 69 69 / var(--tw-border-opacity))}.border-primaryDark{--tw-border-opacity: 1;border-color:rgb(34 34 34 / var(--tw-border-opacity))}.border-red-500{--tw-border-opacity: 1;border-color:rgb(239 68 68 / var(--tw-border-opacity))}.border-secondaryLight{--tw-border-opacity: 1;border-color:rgb(208 208 225 / var(--tw-border-opacity))}.border-yellow-200{--tw-border-opacity: 1;border-color:rgb(254 240 138 / var(--tw-border-opacity))}.bg-accentColor{--tw-bg-opacity: 1;background-color:rgb(255 249 201 / var(--tw-bg-opacity))}.bg-gray-100{--tw-bg-opacity: 1;background-color:rgb(243 244 246 / var(--tw-bg-opacity))}.bg-gray-50{--tw-bg-opacity: 1;background-color:rgb(249 250 251 / var(--tw-bg-opacity))}.bg-primaryColor{--tw-bg-opacity: 1;background-color:rgb(232 69 69 / var(--tw-bg-opacity))}.bg-primaryLight{--tw-bg-opacity: 1;background-color:rgb(255 255 255 / var(--tw-bg-opacity))}.bg-secondaryDark{--tw-bg-opacity: 1;background-color:rgb(46 46 46 / var(--tw-bg-opacity))}.bg-thirdDark{--tw-bg-opacity: 1;background-color:rgb(26 26 26 / var(--tw-bg-opacity))}.bg-white{--tw-bg-opacity: 1;background-color:rgb(255 255 255 / var(--tw-bg-opacity))}.bg-opacity-90{--tw-bg-opacity: .9}.p-10{padding:2.5rem}.p-4{padding:1rem}.p-5{padding:1.25rem}.p-6{padding:1.5rem}.px-2{padding-left:.5rem;padding-right:.5rem}.px-5{padding-left:1.25rem;padding-right:1.25rem}.px-6{padding-left:1.5rem;padding-right:1.5rem}.py-1{padding-top:.25rem;padding-bottom:.25rem}.py-3{padding-top:.75rem;padding-bottom:.75rem}.py-4{padding-top:1rem;padding-bottom:1rem}.py-8{padding-top:2rem;padding-bottom:2rem}.pb-12{padding-bottom:3rem}.pt-14{padding-top:3.5rem}.text-center{text-align:center}.text-right{text-align:right}.text-2xl{font-size:1.5rem;line-height:2rem}.text-3xl{font-size:1.875rem;line-height:2.25rem}.text-5xl{font-size:3rem;line-height:1}.text-6xl{font-size:3.75rem;line-height:1}.text-\[10px\]{font-size:10px}.text-\[13px\]{font-size:13px}.text-base{font-size:1rem;line-height:1.5rem}.text-lg{font-size:1.125rem;line-height:1.75rem}.text-sm{font-size:.875rem;line-height:1.25rem}.text-xl{font-size:1.25rem;line-height:1.75rem}.text-xs{font-size:.75rem;line-height:1rem}.font-bold{font-weight:700}.uppercase{text-transform:uppercase}.italic{font-style:italic}.leading-tight{line-height:1.25}.text-gray-400{--tw-text-opacity: 1;color:rgb(156 163 175 / var(--tw-text-opacity))}.text-primaryColor{--tw-text-opacity: 1;color:rgb(232 69 69 / var(--tw-text-opacity))}.text-primaryDark{--tw-text-opacity: 1;color:rgb(34 34 34 / var(--tw-text-opacity))}.text-red-500{--tw-text-opacity: 1;color:rgb(239 68 68 / var(--tw-text-opacity))}.text-secondaryDark{--tw-text-opacity: 1;color:rgb(46 46 46 / var(--tw-text-opacity))}.text-white{--tw-text-opacity: 1;color:rgb(255 255 255 / var(--tw-text-opacity))}.underline{text-decoration-line:underline}.opacity-40{opacity:.4}.opacity-60{opacity:.6}.opacity-80{opacity:.8}.outline{outline-style:solid}.filter{filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)}input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,textarea:-webkit-autofill,textarea:-webkit-autofill:hover,textarea:-webkit-autofill:focus,select:-webkit-autofill,select:-webkit-autofill:hover,select:-webkit-autofill:focus{-webkit-box-shadow:0 0 0px 1000px #ffffff inset!important}.tiptap p.is-editor-empty:first-child:before{color:#6b7280;content:attr(data-placeholder);float:left;height:0;pointer-events:none}.tiptap img,.job-description img,.tiptap hr,.job-description hr,.tiptap iframe,.job-description iframe,.tiptap p:empty,.job-description p:empty{display:none}.tiptap u,.job-description u{text-decoration:none;font-weight:400}.tiptap em,.job-description em,.tiptap i,.job-description i{font-style:italic;font-weight:400}.tiptap b,.job-description b,.tiptap strong .job-description strong{font-weight:700}.tiptap a,.job-description a{border-bottom:1px solid #222222;cursor:pointer;font-weight:400}.tiptap a:hover,.job-description a:hover,.tiptap a:active,.job-description a:active{border-bottom:none}.tiptap h1,.job-description h1,.tiptap h2,.job-description h2,.tiptap h3,.job-description h3,.tiptap h4,.job-description h4,.tiptap h5,.job-description h5,.tiptap h6,.job-description h6{margin-top:.5em;margin-bottom:.5em;line-height:1}.tiptap h1,.job-description h1,.tiptap h2,.job-description h2{font-size:2rem}.tiptap h3,.job-description h3,.tiptap h4,.job-description h4,.tiptap h5,.job-description h5,.tiptap h6,.job-description h6{font-size:1.8rem}.tiptap p,.job-description p{line-height:1.4;margin-top:.5rem;margin-bottom:.5em;font-weight:400}.tiptap ul,.job-description ul,.tiptap ol,.job-description ol{margin-top:.5em;margin-bottom:.5em;margin-left:1em;list-style-type:revert;font-weight:400}.tiptap ul li,.job-description ul li,.tiptap ol li,.job-description ol li{line-height:1.3;font-weight:400}.tiptap ul ul,.job-description ul ul,.tiptap ol ul,.job-description ol ul,.tiptap ul ol,.job-description ul ol,.tiptap ol ol,.job-description ol ol{padding:0;margin:0 0 0 1em;list-style-type:revert;font-weight:400}.after\:ml-1:after{content:var(--tw-content);margin-left:.25rem}.after\:ml-2:after{content:var(--tw-content);margin-left:.5rem}.after\:ml-3:after{content:var(--tw-content);margin-left:.75rem}.after\:content-\[\'\d7\'\]:after{--tw-content: "\d7";content:var(--tw-content)}.after\:content-\[\'\2022\'\]:after{--tw-content: "\2022";content:var(--tw-content)}.first\:flex-\[70\%\]:first-child{flex:70%}.disabled\:bg-red-500:disabled{--tw-bg-opacity: 1;background-color:rgb(239 68 68 / var(--tw-bg-opacity))}@media (max-width: 950px){.md\:mx-auto{margin-left:auto;margin-right:auto}.md\:hidden{display:none}.md\:w-full{width:100%}.md\:flex-col{flex-direction:column}.md\:flex-wrap{flex-wrap:wrap}.md\:flex-wrap-reverse{flex-wrap:wrap-reverse}.md\:items-start{align-items:flex-start}.md\:justify-center{justify-content:center}.md\:gap-3{gap:.75rem}.md\:gap-8{gap:2rem}.md\:p-5{padding:1.25rem}.md\:px-4{padding-left:1rem;padding-right:1rem}.md\:text-left{text-align:left}.md\:text-center{text-align:center}.md\:after\:content-none:after{--tw-content: none;content:var(--tw-content)}}.\[\&\>\*\]\:max-h-\[326px\]>*{max-height:326px}.\[\&\>\*\]\:min-h-\[326px\]>*{min-height:326px}.\[\&\>\*\]\:text-gray-500>*{--tw-text-opacity: 1;color:rgb(107 114 128 / var(--tw-text-opacity))}.\[\&\>\*\]\:outline-none>*{outline:2px solid transparent;outline-offset:2px}
  
  </style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscribe to Our Newsletter - WORK4MZANSI</title>
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="/build/_assets/app-6LAQSPAM.css" rel="stylesheet">
</head>
<body class="body">
    <header class="max-w-[900px] mx-auto mt-28 mb-12 flex items-center gap-6 md:px-4">
        <a href="/">
            <img alt="WORK4MZANSI" class="max-w-[100px]" src="https://i.ibb.co/3fH4Ht1/IMG-20240528-234324.jpg"/>
        </a>
        <nav class="flex gap-3 text-sm font-bold">
            <a class="text-primaryColor" href="https://twitter.com/WORK4MZANSI" target="_blank">
                Twitter
            </a>
            <a class="text-primaryColor" href="/newsletter">
                Newsletter
            </a>
            <a class="text-primaryColor" href="/hire">
                Post a Job
            </a>
        </nav>
    </header>
    <main class="md:px-4">
        <div class="max-w-[900px] mx-auto mb-24">
            <h1 class="text-6xl font-bold mb-2">
                Subscribe to Our Newsletter And Latest Job Post
            </h1>
            <p class="text-xl leading-tight mb-10">
                Stay updated with the latest news, job postings, and insights from WORK4MZANSI.
            </p>
            <form action="/subscribe" method="post" class="max-w-sm mx-auto">
                <div class="my-4">
                    <label class="input-label" for="email">
                        Your Email
                    </label>
                    <input class="input" id="email" name="email" type="email" placeholder="e.g. yourname@example.com" required>
                    <span class="input-description">
                        We'll never share your email with anyone else.
                    </span>
                </div>
                <button class="py-4 px-6 text-white bg-primaryColor border-0 text-lg font-bold rounded-md" type="submit">
                    Subscribe
                </button>
            </form>
        </div>
    </main>
    <footer class="bg-thirdDark text-white pt-14 mt-14">
        <div class="w-full max-w-[900px] mx-auto md:px-4">
            <div class="flex flex-row-reverse items-start justify-between mb-14">
                <div class="flex items-start justify-start gap-16">
                    <div class="flex flex-col">
                    </div>
                    <div class="flex flex-col">
                        <p class="text-xs font-bold mb-2">
                            EXPLORE
                        </p>
                        <a href="/remote-jobs">
                            Remote Jobs
                        </a>
                        <a href="/hire">
                            Freelance
                        </a>
                        <a href="/hire">
                            Internships
                        </a>
                    </div>
                </div>
                <div class="max-w-[370px]">
                    <p class="font-bold text-lg -mt-1">
                        Explore New Opportunities
                    </p>
                    <p class="mt-6">
                        <a class="py-3 px-5 bg-primaryLight text-primaryColor rounded-md border-0 text-lg font-bold" href="/hire">
                            Post a job
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="bg-secondaryDark py-8">
            <div class="w-full max-w-[900px] mx-auto flex items-center justify-between md:px-4 md:flex-wrap-reverse md:gap-8">
                <div class="md:w-full md:text-center">
                    <span>
                        © WORK4MZANSI
                    </span>
                    <p class="text-[10px] opacity-60 max-w-[200px] mt-2 leading-tight md:mx-auto">
                        By using this site, you agree to our terms of service and privacy policy.
                    </p>
                </div>
                <div class="md:w-full">
                    <nav class="flex items-center gap-3 md:justify-center">
                        <a class="font-bold after:content-['•'] after:ml-3" href="/terms">
                            Terms
                        </a>
                        <a class="font-bold after:content-['•'] after:ml-3" href="/privacy-policy">
                            Privacy
                        </a>
                        <a class="font-bold" href="mailto:hello@WORK4MZANSI.com">
                            Get in touch
                        </a>
                    </nav>
                    <div class="flex items-center justify-end gap-3 mt-2 md:justify-center">
                        <a href="https://www.twitter.com/WORK4MZANSI" target="_blank">
                            <img alt="Twitter" height="16" src="/twitter.svg" width="16"/>
                        </a>
                        <a href="https://www.facebook.com/WORK4MZANSI" target="_blank">
                            <img alt="Facebook" height="16" src="/facebook.svg" width="16"/>
                        </a>
                        <a href="https://www.instagram.com/WORK4MZANSI" target="_blank">
                            <img alt="Instagram" height="16" src="/instagram.svg" width="16"/>
                        </a
                        >
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
